.header {
  background-color: #e9edc9;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header>div {
  display: flex;
}

.header * {
  color: black;
}

.header>div>* {
  margin: 4px;
}

header a {
  font-weight: 700;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.header>* {
  padding: 10px;
}

.header button {
  background-color: #CCD5AE;
  border: #CCD5AE 1px solid;
  cursor: pointer;
  height: 80%;
  width: 75px;
}

.header button:hover {
  background-color: #a9b384;
}

.header button:active {
  background-color: #9ea978;
}

.username {
  font-weight: 700;
}