html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefae0;
}

body {
  margin-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  border-radius: 5px;
}

#root {
  display: flex;
  flex-flow: column wrap;
}